._1 
{
    font-family: 'Lobster', cursive;
    color: green;
    font-size: 120px;
    text-align: center;
    
}
._2 
{
    color: rebeccapurple;
    font-family: 'Joan', serif;
       
}
._3 
{
    color: rgb(39, 2, 247);
    font-family: 'Joan', serif;
    text-align: center;
    font-size: 80px;
}
._4 
{
     color: rgb(39, 2, 247);
     text-align: center;
}
body 
{
    max-width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0px;
    font-weight: 0px;
    line-height: 2;
    color: #a87932;
    background-color: #4d6264;
  }
  p 
  {
    text-align: center;
    color: #0f0e0e;
    }
    .footer
    {
        text-align: center;
    }
    .flex-container 
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 2px;
        margin: 0;
        list-style: none
    }

.nav-list 
    {
    display: flex;
    justify-content: row wrap;
    align-items: center;
    list-style: none;
    color: #0f0e0e;
  }
